<h1>Rate the Routes</h1>

<% if @route%>
  <div>
    <h2><%= @route.title %></h2>
    <span><%= @route.description %></span>
    <%= form_tag save_climbing_log_path, class: 'route_comment' do %>
    <%= label_tag 'suggested_rating_id', 'You would rate this route at:' %><br/>
      <%= select_tag 'area_id', 
        options_from_collection_for_select(@route.area.gym.ratings, "id", "name"),
        :prompt => "Select a rating" %><br/>
      <%= label_tag 'comment', 'Leave your comment or beta:' %><br/>
      <%= text_area_tag 'comment', nil, :rows => 10, :cols => 25%><br/> 
      <%= submit_tag 'submit' %>
    <% end %>
  </div>

<% elsif @area %>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Difficulty</th>
    </tr>
  
  <% @area.routes.each do |route| %>
    <tr>
      <td><%= link_to route.title, climbing_log_path(:route_id => route.id) %></td>
      <td><%= route.description %></td>
      <td><%= route.rating.name %></td>
    </tr>
  <% end %>
  </table>


<% elsif @gym %>
  <%= form_tag climbing_log_path, class: 'area_select' do %>
    <%= hidden_field_tag 'gym_id', @gym.id %>
    <%= select_tag 'area_id', 
        options_from_collection_for_select(@gym.areas, "id", "name"),
        :prompt => "Select an area",
        onchange: 'this.form.submit()' %>
    <%= submit_tag 'submit' %>
    <%= javascript_tag "$('.area_select input').hide()" %>
  <% end %>

<% else %>
  <%= form_tag climbing_log_path, class: 'gym_select' do %>
    <%= select_tag 'gym_id', 
        options_from_collection_for_select(Gym.all, "id", "name"),
        :prompt => "Select a gym",
        onchange: 'this.form.submit()' %>
      <%= submit_tag 'submit' %>
      <%= javascript_tag "$('.gym_select input').hide()" %>
    <% end %>
<% end %>

