<h1>Listing ratings</h1>

<table>
  <tr>
    <th>Gym</th>
    <th>Ordinal value</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.gym_id %></td>
    <td><%= rating.ordinal_value %></td>
    <td><%= rating.name %></td>
    <td><%= rating.description %></td>
    <td><%= link_to 'Show', rating %></td>
    <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
    <td><%= link_to 'Destroy', rating, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rating', new_rating_path %>
