<!DOCTYPE html>
<html>
<head>
  <title>Myboulderlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "My Boulder Log" %>
    <span id="login">
    <% if session[:user_id] %>
      <%= link_to 'Log Out', logout_path, method: :delete %>
    <% elsif %>
      <%= link_to 'Sign In', login_path %> | <%= link_to 'Sign Up', new_user_path %>
    <% end %>
    </span>
  </div>
  <div id="columns">
    <div id="navBar">
      <ul>
        <li><a href="#">Comment on Routes</a></li>
        <li><a href="#">Log Climbing Session</a></li>
        <li><a href="#">My Account</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    Created by Johannes Tuchscherer  
  </div>

</body>
</html>
